---
subtitle: Inactive Feed
hideExternalNav: true
---

<h2>This POAP feed is inactive</h2>
<p>No POAP claims have been recorded for this event in several weeks. If you're subscribed to this feed you may want to remove it from your reader.</p>
<p>Removing inactive feeds helps keep POAP2RSS more efficient. You can always resubscribe later if activity picks up again.</p>
